.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
}
.hab-pessoal {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    padding: 0;
}

.hab-pessoal ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.hab-pessoal ul li{
    margin-left: 2rem;
    padding: .5rem;
}